:root {
  --black: black;
  --darkgrey: rgb(36, 35, 35);
  --white: white;
  --yellow: rgb(217, 196, 39);
}

@font-face {
  font-family: Russo;
  src: url(./fonts/RussoOne-Regular.ttf);
}

@font-face {
  font-family: Moon;
  src: url(./fonts/RubikMoonrocks-Regular.ttf);
}

@font-face {
  font-family: Starwars;
  src: url(./fonts/Rubik-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  color: white;
}

section {
  padding: 1em 0 1em;
}

body {
  background-color: var(--darkgrey);
  overflow-x: hidden;  
}



