.container-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-about-info {
    /* max-width: var(--max-width-text); */
    width: min(90%, 600px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-standard);
    line-height: 30px;
}

.container-about-info p {
    font-size: var(--font-small);
}

.container-about-knowledge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width: var(--max-width-text); */
    width: min(90%, 600px);
    margin: var(--m-5);
    gap: var(--gap-standard);
}

.container-back-end,
.container-front-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-standard);
    background-color: var(--secondary-middle);
    box-shadow: 0 8px 20px black;
    padding: var(--p-4);
    border-radius: 20px;
}

.container-back-end p,
.container-front-end p {
    font-size: var(--font-small);
}

.front-end-eng-icon,
.back-end-eng-icon {
    background-color: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
}

.container-back-end svg,
.container-front-end svg {
    color: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
}



/* medium */
@media screen and (min-width: 48em) {
    .container-about-knowledge {
        /* max-width: 40%; */
        flex-direction: row;
        justify-content: space-between;
    }
}

