.container-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em 1em 3em;
}

.aboutme-title {
    font-size: var(--font-title);
    -webkit-text-stroke: 1px var(--contrast);
    color: var(--secondary);
}

.container-about-info {
    max-width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-about-info p {
    font-size: var(--font-normal);
}

.container-about-knowledge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: var(--m-5);
}

@media screen and (min-width: 35.5em) {
    .container-about-info {
    }
}