.container-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-about-info {
    max-width: var(--max-width-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-standard);
}

.container-about-info p {
    font-size: var(--font-small);
}

.container-about-knowledge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--max-width-text);
    margin: var(--m-5);
    gap: var(--gap-standard);
}

.container-back-end,
.container-front-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-standard);
    background-color: lightblue;
    padding: var(--p-4);
    border-radius: 20px;
}

.container-back-end p,
.container-front-end p {
    font-size: var(--font-small);
}

@media screen and (min-width: 35.5em) {}