.container-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    background-color: aquamarine;
    padding: var(--p-5);
    border-radius: 20px;
}

.form-field {
    display: flex;
    justify-content: center;
    gap: 50px;
}