.container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: var(--max-width-text); */
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    padding: 12px 12px 3px 0;
    display: inline-block;
}

form button {
    width: 100px;
    padding: var(--p-1);
    margin: 20px 0 0 0;
    border-radius: 5px;
    cursor: pointer;
}