.home {
    padding-top: 1vh;
    background-color: var(--darkgrey);
}

.container-main {
    min-height: 100vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.container-info {
    margin-bottom: 15px;
}

.name {
    font-family: Russo;
    font-size: 2.5em;
}

.intro {
    margin-top: 10px;
    font-family: Russo;
    font-size: 1.1em;
}

.container-socials {
    display: flex;
    gap: 20px;
}

.socials a {
    color: var(--yellow);
    text-decoration: none;
}

.container-connect {
    font-family: Russo;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px black solid;
    background: rgb(0, 0, 0);
    width: 160px;
    padding: 10px;
    border-radius: 3px;
}

.container-connect a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white);
    display: flex;
    gap: 10px;
    align-items: center;
}


.container-pf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.profile-photo {
    background: var(--light-yellow);
    background-image: url(../Images/laptopBit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px black solid;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .home {
        background-color: aqua;
    }
}

/* Small screen devices (600px and above) */
@media only screen and (max-width: 700px) {
    .home {
        background-color: brown;
    }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    .home {
        background-color: wheat;
    }
}

/* Big screen devices (889px and above) */
/* @media only screen and (min-width: 889px) {...} */

/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {...}  */